<h2>Pending Requests</h2>
<br/>

<% if @friends.count > 0 %>
    <% @friends.each do |friend| -%>
        <span><%= friend.name %></span>
        <br/>
    <% end -%>
<% else %>
    <p>No pending requests found.</p>
<% end -%>

