<h2>Friend Requests</h2>
<br/>


<% if @friends.count > 0 %>
    <% @friends.each do |friend| -%>
        <span><%= friend.name %></span>
        <span><%= link_to 'Accept Friend', accept_friend_path(friend), method: :post %></span>
        <span><%= link_to 'Reject Friend', reject_friend_path(friend), method: :post %></span>
        <br/>
    <% end -%>
<% else %>
    <p>No friend requests found.</p>
<% end -%>

